Makefile.in
Makefile.libs
.libs
*.bak
*.gcno
*.out
*.txt
tmpl
xml
html
html-build.stamp
html.stamp
*-docs.xml
*.args
*.hierarchy
*.interfaces
*.prerequisites
*.signals
*.types
scan-build.stamp
sgml-build.stamp
sgml.stamp
tmpl-build.stamp
tmpl.stamp
version.xml
