*.o
*.a
*.lo
*.la
*.bin
.libs
.deps
gcm-apply
gcm-import
gcm-viewer
gcm-picker
gcm-inspect
gcm-session
gcm-dump-edid
gcm-dump-profile
gcm-fix-profile
gcm-self-test
gcm-install-system-wide
gcm-helper-exiv

