##############################################################################################################
# Copyright (C) 2010 Richard Hughes <richard@hughsie.com>
#
# Licensed under the GNU General Public License Version 2
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# Ensure i2c-dev is loaded and the permissions of DDC/CI devices are
# relaxed for any i2c devices so we can interact with them from userspace.

# ensure userspace driver is loaded
SUBSYSTEM=="i2c-adapter", ACTION=="add", RUN+="/sbin/modprobe i2c-dev"

# make acl managed if a DDC device
SUBSYSTEM=="i2c-dev", ACTION=="add", PROGRAM="gcm-udev-ddc /dev/%k", ENV{DDC_DEVICE}="1"
